@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200;300;400;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
}

header.header{
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
header.header .overlay{
    background-color:rgba(239,71 ,58 , 0.8) ;
    padding-top: 90px;
    position: relative;
}
header.header .overlay .header-block {
    margin-top: 120px;
}
header.header .overlay .header-block .header-brand{
    margin-bottom: 50px;
}
header.header .overlay .header-block .header-text h1{
    font-size: 30px;
    color: #fff;
    line-height: 38px;
    margin-bottom: 60px;
}
header.header .overlay .header-block .header-text p{
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 85px;
}
header.header .overlay .header-buttons a img{
    width: 250px;

}
header.header .overlay .header-buttons a:nth-child(2) img{
    height: 68px;
   
}
header.header .overlay .header-img img{
    max-width: 100%;
    position: absolute;
    bottom:-210px ;
}
section.feature .features{
    margin-top: 90px;
}
section.feature{
    padding: 80px 0;
    background-color: #fff;
    position: relative;
   
}
section.feature .features.text-left{
    direction: ltr;
}
section.feature .features .d-flex{
    margin-bottom: 70px;
}
section.feature .features .d-flex .flex-shrink-0 i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    background-color: #ef473a;
    text-align: center;
    display: block;
    border-radius: 2px;

}
section.feature .features .d-flex h5{
    font-size: 24px;
   margin-bottom: 12px;
    color: #080808;
}
section.feature .features .d-flex p{
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}
section.feature .feature-img img{
    width: 80%;
}
section.option{
    background-color: #f9f8f8;
     padding:120px 0 0 0 ; 
     position: relative;
}
section.option .options{
    margin-top: 40px;
    margin-right: 40px;

}
section.option .options .d-flex{
    margin-bottom: 60px;
}
section.option .options .d-flex h5{
    font-size: 24px;
    line-height: 40px;
    color: #141414;

}
section.option .options .d-flex p{
    font-size: 15px;
    line-height: 20px;
    color: #757474;

}
section.option .option-img{
    position: absolute;
    border-bottom: -150px;
}
section.slider{
    background-color: #fff;
    position: relative;
    padding: 80px  0;
}
section.slider .slider-text h3{
    font-size: 36px;
    color:#141414 ;
    margin-bottom: 60px;
}
section.slider  .slider-carousel .carousel-inner{
    width: 60%;
    margin: auto;

}
section.slider  .slider-carousel .carousel-control-prev ,
section.slider  .slider-carousel .carousel-control-next
{
    width: 70px;
    height: 70px;
    border: 1px solid #ef473a;
    color: #ef473a;
    border-radius: 50%;
    opacity: 1;
    margin-top: 140px;
    

}
section.slider  .slider-carousel .carousel-indicators{
    bottom: -60px;
}
section.slider  .slider-carousel .carousel-indicators button{
    width: 20px;
    height: 20px;
    border: 1px solid #ef473a;
    border-radius: 50%;
}
section.slider  .slider-carousel .carousel-indicators button.active{
    background-color: #ef473a;
    opacity: 1;
}
section.faq{
    background-image: url(images/bg-2.jpg);
    background-size:100%  100%;
    background-position: center center;
    background-attachment: fixed;
}
section.faq .overlay{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px 0;
}
section.faq .faq-title h3{
    font-size: 30px;
    color: #fff;
    margin-bottom: 60px;
}
section.faq .overlay .accordion .accordion-item
{
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 0;
}
section.faq .overlay .accordion .accordion-item .accordion-header button{
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    border-bottom: 0;
}
section.faq .overlay .accordion .accordion-item .accordion-header button::after{
    content: none;
}
section.faq .overlay .accordion .accordion-item .accordion-header button i{
    margin-right: auto;
}
section.faq .overlay .accordion .accordion-item .accordion-header button.collapsed i{
    transform: rotate(180deg);
}
section.faq .overlay .accordion .accordion-item .accordion-header button:focus{
    border-color: transparent;
    box-shadow: 0 0 0 0;
}
section.faq .overlay .accordion .accordion-item .accordion-body p{
    font-size: 15px;
    color: #c9c9cc;
    line-height: 20px;
}
footer.footer{
    background-color: #232323;
    padding-top: 70px;
}
footer.footer .top-footer{
    border-bottom: 2px solid #292828;
    padding-bottom: 90px;
}


footer.footer .top-footer .widget h4{
    font-size: 24px;
    color: #f4f8f8;
    padding-bottom: 25px;
    border-bottom: 2px solid #292828 ;
    margin-bottom: 35px;
    position: relative;
}
footer.footer .top-footer .widget h4::after{
    content: '';
    width: 90px;
    height: 2px;
    position: absolute;
    background-color: #ef473a;
    right: 0;
    bottom:-1px;
    
}
footer.footer .top-footer .widget p.aboutus-p{
    font-size: 18px;
    line-height: 40px;
    color:#757474 ;
    margin-bottom: 100px;

}
footer.footer .top-footer .widget ul li.list-inline-item a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #353638;
    display: block;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease;
}
footer.footer .top-footer .widget ul li.list-inline-item a:hover{
    background-color: #ef473a;
}
footer.footer .top-footer .widget ul.tweets{
    list-style: none;
    padding: 0;
}
footer.footer .top-footer .widget ul.tweets li:nth-child(1),
footer.footer .top-footer .widget ul.tweets li:nth-child(2){
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #292828;

}
footer.footer .top-footer .widget ul.tweets li p{
    font-size: 15px;
    color: #757474;
    line-height: 24px;
    display: inline;
    margin-right: 10px;
}
footer.footer .top-footer .widget ul.tweets li{
    color: #ef473a;
    
}
footer.footer .top-footer .widget form input{
    font-size: 14px;
    color: #c6c6c6;
    line-height: 25px;
    border: 0;
    margin-bottom: 5px;
    background-color: #2c2b2b;
    text-align: right;
    border-radius: 0;
}
footer.footer .top-footer .widget form button{
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    background-color: #ef473a;
    border-radius: 0;
    font-weight: 500;
    margin-top: 10px;
}
footer.footer .copyright{
    font-size: 15px;
    color:#565656 ;
    line-height: 75px;
    text-align: center;
}
@media screen and (max-width:1200px){
    section.option .options{
        margin-right: 85px;
    }
    
}
@media screen and (max-width:992px){
    header.header .overlay .header-block .header-text p{
        margin-right: 30px;
    }
    header.header .overlay .header-block .header-text h1{
        margin-right: 30px;

    }
    header.header .overlay .header-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
    }
    header.header .overlay .header-block .header-brand {
        margin-right: 30px;
    }
    section.feature .feature-img img {
        height: 857px;
        width: 90%;
     

       
    }
    section.feature .features{
        margin-right:0px;
        width: 100%;
        

    }
    section.option .options{
   padding-right: 100px;
   padding-bottom: 20px;
   width: 100%;
    }
    .list-inline{
        width: 100%;
        display: flex;
    }
   
   }
   @media screen and (max-width:810px){
    header.header .overlay .header-buttons a:nth-child(2) img{
        margin-left: 20px;
    }
   }

   @media screen and (max-width:768px){
    header.header .overlay .header-img img {
        max-width: 20%;
        position: absolute;
        bottom: 114px;
        right: 0;
        margin-right: 10px;
        height: 437px;
    }
    header.header .overlay .header-block .header-text{
    margin-right: 40px;
    }
    header.header .overlay .header-block .header-brand{
        margin-right: 70px;
    }
    section.option{
        position: relative;
    }
    section.option .option-img{
       position: absolute;
       top: 8%;
       right: 0;
       width: 50%;
       display: block;
    }
    section.option .options{
        margin-right:240px;
        overflow: hidden;
    }

   }




